* {
  background-color: #E5E5E5;
  box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: 150px auto;
}

.avi{
    grid-column: 1 / 2;
    background-color: aqua;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 10px;
}

.bio{
    grid-column: auto;
    margin: 10px;
}

.borderr{
    border: 2px solid black;
}

.status-box{
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.app-container{
  width: 100vw;
  max-width: 600px;
}