* {
  
  box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: 100px auto;
}

.avi{
    grid-column: 1 / 2;
    background-image: url(/src/assets/symbol.png);
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 30px;
}


.bio{
    grid-column: auto;
    text-align: left;
   
}

.borderr{
  outline: 2px solid black;
}

.status-box{
  width: 100%;
  padding: 10px;
  max-height: 100px;
  overflow: scroll;
}

.app-container{
    min-width: 0vw;
    max-width: 800px;
    outline: 2px solid black;

}

.nav-list{
  
  text-align: left;
}